/* Crossword grid styles */
.crossword-grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
}

.crossword-grid .cell {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.crossword-container{
    display: flex;
    flex-direction: row;
    gap:10%;
    align-items: center;
    justify-content: center;
    margin: 30px;
    max-height: 100%;
    width: 90vw;
}
@media screen and (max-width:  700px) {
    .crossword-grid {
        grid-template-columns: repeat(20, 15px);
        grid-template-rows: repeat(20, 15px);
    }
}
@media screen and (max-width:  1000px) {
    .crossword-container{
        flex-direction: column;
    }
    #crossword{
        max-height: 100%;
    }
}
.crossword-clues ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}
.crossword-clues h2 {
    color: tomato;
}
/* Questions styles */
.questions-container {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question {
    color: white;
}
.question li {
    margin-bottom: 10px;
}

.question input[type="radio"] {
    margin-right: 10px;
}

#next-btn{
    background-color: rgb(17, 173, 17);
}

#back-btn{
    background-color: rgb(194, 26, 180);
}

#quiz{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.isTurn{
    display: block;
}
.isNotTurn{
    display: none !important;
}
@media screen and (max-width:  1000px) {
    #quiz{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: unset;
        top: unset;
        transform: unset;
        height: 100%;
        width: 100%;
    }
}